.post-card{
    border: 1px solid #cdcdcd;
    padding: 10px;
    margin: 10px;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
   

}

.reaction-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}