.characterCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container {
    padding: 10px;
    width: 500px;
  }
  .inputs {
    margin: 15px 0;
  }
  .inputs input {
    padding: 3px 5px;
    text-align: center;
  }
  .text {
    width: 250px;
    height: 60px;
  }
  